h1{
	
	font-size: 300%;
	text-align: center;
	font-family: "Rubik Dirt";
	font-variant: small-caps;
	color: white;
	
	
}

header{
	text-align:center;
	
	color: white;
	font-family: "Courier Prime";
}

div{
	text-align:justify;
	font-family: "Courier Prime";
	color: white;
	margin: 4%;
}

footer{
	text-align: center;
	font-family: "Courier Prime";}

body {background-color: black;
	
	
}

nav{
	text-align: center;
	font-family: Courier Prime;
	color: white;

}

h3{	
	display: inline-block;
	padding-bottom: 10px;
}