h1{
	
	font-size: 300%;
	text-align: center;
	font-family: "Rubik Dirt";
	font-variant: small-caps;
	color: #851623;
	
	
}

header{
	text-align:center;
	
	font-family: "Courier Prime";
}

div{
	text-align:justify;
	font-family: "Courier Prime";
	color: #581845;
}

footer{
	text-align: center;
	font-family: "Courier Prime";}

body {background-color: #F7DAA6;
	margin: 10px 5px;
	
}

nav{
	text-align: center;
	font-family: Courier Prime;
	color: #900C3F;

}