h1{
	
	font-size: 400%;
	text-align: center;
	font-family: "Courier Prime";
	
	
}

header{
	text-align:center;
	font-variant: small-caps;
	font-family: "Courier Prime";
}

div{
	text-align:justify;
	font-family: "Courier Prime";
	color: #581845;
}

footer{
	text-align: center;
	font-family: "Courier Prime";}

body {background-color: #DAF7A6;
	
}

nav{
	text-align: center;
	font-family: Courier Prime;
}